<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hunau.userlogin.dao.UserDao" >

    <resultMap id="BaseResultMap" type="com.hunau.userlogin.entity.User" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />
        <result column="sexy" property="sexy" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="BOOLEAN" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,name,pwd,sexy,birthday,(year(now())-year(birthday)) as age,remark</sql>

    <!--用户登录验证-->
    <select id="userlogin" parameterType="com.hunau.userlogin.entity.User" resultType="com.hunau.userlogin.entity.User">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user WHERE name = #{name} AND pwd = #{pwd} and remark!=0
    </select>

    <!--新用户注册  方式1-->
    <insert id="adduser" parameterType="com.hunau.userlogin.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user (name,pwd,sexy,birthday) VALUES (#{name},#{pwd},#{sexy},#{birthday})
    </insert>

    <!--新用户注册  方式2-->
    <insert id="adduser1" parameterType="com.hunau.userlogin.entity.User">
        INSERT INTO tb_user (name,pwd,sexy,birthday) VALUES (#{name},#{pwd},#{sexy},#{birthday})
    </insert>
    <!-- 更新用户 -->
    <update id="updateuser" parameterType="com.hunau.userlogin.entity.User">
        UPDATE tb_user set name=#{name},pwd=#{pwd},sexy=#{sexy},remark=#{remark} where id=#{id}
    </update>

    <select id="queryAllUser" resultType="map">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user
    </select>

    <select id="queryUserById" resultType="map" parameterType="LONG">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user where id=#{id} and remark!=0
    </select>

    <select id="queryUserByName" resultType="map" parameterType="STRING">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_user where name like CONCAT('%',#{name},'%')and remark!=0
    </select>
</mapper>